#*
 *     Licensed under the Apache License, Version 2.0 (the "License");
 *     you may not use this file except in compliance with the License.
 *     You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *     Unless required by applicable law or agreed to in writing, software
 *     distributed under the License is distributed on an "AS IS" BASIS,
 *     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *     See the License for the specific language governing permissions and
 *     limitations under the License.
 *#
## Displaying the time since last modification date
## all input are in org.joda.time.Seconds

## These classes are lining in the velocity universe
## $math org.apache.velocity.tools.generic.MathTool

## crazy velocity style to avoid spaces
#macro ( prettyPrint $seconds )
#if (!$seconds)##
#elseif ($seconds.getSeconds() == 0)##
0 s##
#elseif ($seconds.toStandardWeeks().getWeeks() > 52 )##
$math.roundTo(1,$math.div($seconds.toStandardWeeks().getWeeks(),52)) years##
#elseif ($seconds.toStandardDays().getDays() > 0)##
$seconds.toStandardDays().getDays()  days##
#elseif ($seconds.toStandardHours().getHours() > 0)##
$seconds.toStandardHours().getHours()  hours##
#elseif ($seconds.toStandardMinutes().getMinutes() > 0)##
$seconds.toStandardMinutes().getMinutes()  minutes##
#else##
$seconds.getSeconds() seconds##
#end#end##